---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Great+Vibes';

html, body {
    // ...
    font-size: 62.5%;
    background: #000;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    font-size: 1.6rem;
}

main {
    padding-top: 100px;
    text-align: center;
    line-height: 3rem;
    min-height: 100vh;
    color: #fff;
}
.event-title {
    color: #f91b10;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
}
.event-title::before, .event-title::after{
    content: '"';
}
.event-subtitle {
    font-size: 2.43rem;
    font-family: 'Great Vibes', cursive;
}
.description00 {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    font-style: italic;
}
.description01, .description02 {
    color: #f91b10;
}
.gallery {
    padding: 0 2%;
}
.gallery > div {
    margin-bottom: 10px;
}
.frame {
    height: 30px;
    background: #faefcd;
}
.frame b {
    color: #000;
    font-size: 1.6rem;
}
.frame b::after {
    content: '"';
}

// bootstrap overrides
.navbar-inverse {
    background: #000;
    border-color: #080808;
}

@import "partials/media-queries";

