

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ site.github.url }}/assets/dist/jquery.nanogallery.min.js"></script>
<script src="{{ site.github.url }}/assets/dist/jquery.nanogallery.min.js"></script>
<script> 

$("#nanoGallery").nanoGallery({
  
  itemsBaseURL:"{{ site.github.url }}/assets/img/",
  thumbnailLabel: {
    hideIcons: true
  },
  thumbnailWidth: 'auto',
  thumbnailHeight: 250,
  theme: 'light'

  
});

</script>