<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.github.url }}/css/main.css"> 
    <!--<link rel="stylesheet" href="{{ site.github.url }}/assets/dist2/css/material-photo-gallery.css"> -->
    <!--<link rel="stylesheet" href="{{ site.github.url }}/assets/dist/css/nanogallery.min.css">-->
</head>